@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Story+Script&display=swap');
* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}
.purple{
    color: purple;
}
#landing {
    padding: 32px 12px;
}

.nav {
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.nav__logo {
    display: flex;
    align-items: center;
} 

.nav__logo--img {
    height: 40px;
    width: 40px;
}
.nav__logo--title {
    font-size: 24px;
    margin-left: 12px;
    padding:0, 0, 2px ;
    font-weight: 900;
    letter-spacing: 0.6px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}
.nav__row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2px;
}

.nav__links{
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.container {
    padding: 96px 0;

}
.header__container {
    display: flex;

}

@media (max-width: 1280px) {
.header__img--wrapper{
   font-size: 16px;
    }
}

.header__description {
    width: 40%;
}
.header__description--para {
    margin: 32px 0;
}

.header__img--wrapper {
    display: flex;
    width: calc(100%);
}



.header__img {
    max-width: 512px;
}

.nav__link {
    margin: 0 24px;
    font-size: 14px;
    font-weight: 600px;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid;
    position: relative;
}



.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
}

.header__customers {
    width: 390px;
    height: 27px;
    margin-top: 16px 0px 0px;
    opacity: 0.5;
    padding-right: 64px;

}




@media (max-width: 1280px) {
    .header__img--wrapper
 {
        display: flex;
        justify-content: flex-end;
    }
}



.container__2 {
    padding: 96px 0px;

}

#features .row_narrow {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.row_narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.section__tag {
    font-size: 16px;
    color: purple;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.heading {
    text-align: center;
}

.section__title {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing:0.025em ;
    
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: ;
}