@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Story+Script&display=swap');
* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}

.nav__logo--title {
    
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__row {
    display: flex;
    justify-content: space-between;
}